/* header{
    background-image: ;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */

/* reset code and common code started here */



/* reset code end  */

.banner-container{

    background-image: url(Rda.JPG);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}



.head{
    background-color: red;
    width: 40%;
    color: blue;


    
}

html{
    scroll-behavior: smooth;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {


height: 50vh; 
}
/* Center the carousel content vertically */
  .carousel-inner {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  /* Add custom styles for the slides */
  .carousel-item img {
    object-fit: cover;
}


    


.banner-contains{


    background-color:rgba(30, 107, 14, 0.808);
    color: aliceblue;
    width: 75%;
    height: 6rem;
    


    

}
.bot{
    transition: 1s;
}

.bot:hover{
    transform: scale(1.2);
}




/* card */

.features{
    background-color: #0B666A;
 color:white;
 height: 53vh;
 border: 1px solid white;
 /* margin: 1px; */
 

}

.feature{
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px 0;
    transition: 1s;
    padding: 15px;
    height: 30vh;

}

.feature:hover{
    transform: scale(1.2);
    box-shadow: 2px 6px 5px black;
}

.icon-style{
    padding: 15px;
    background-color: #071952;
}

.carousel-inner{
    height: 80vh;
}

.carousel{
    height: 90vh;
}
